@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@0;1&family=Roboto&display=swap');

* {
    margin: 0px;
    padding: 0px;
    outline: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", Sans-serif;
    color: #23383f
}

.screen {
    display: flex;
    height: 100vh;
}

.leftside {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.leftside img {
    width: 60rem;
    margin-right: 0px;
}

.rightside {
    width: 30rem;
    background-image: url(./img/business-analytics.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2.5rem 4rem;
}

.rightside h1 {
    text-align: center;
    padding: 1rem;
    text-shadow: 2px 2px 3px #dfdde5;
}
.rightside label {
    display: block;
    margin-bottom: 1.2rem;
}

.rightside input {
    width: 100%;
    border: 1px solid #23383f;
    border-radius: 3px;
    padding: 0.5rem;
    font-size: 0.9rem;
    outline: 0;
    box-shadow: 2px 2px 3px #dfdde5;
}

.botao {
    background-color: #abd1c9;
    color: #23383f;
}

.checkout {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        text-shadow: 2px 2px 2px #abd1c9;
    }

.checkout a {
    color: #23383f;
    font-weight: bold;
    text-decoration: none;
    border-radius: 0.2rem;
    padding: 0.2rem;
    cursor: pointer;
}

.error {
    font-size: 0.8rem;
    background-color: #32586e;
    color: #dbb04a;
    font-family: "PT Sans", "Helvetica Neue", Sans-serif;
    font-style: italic;
    padding: 0.3rem;
    margin: 0.1rem;
    border-radius: 5px;
}

/* RODAPÉ */

footer {
    width: auto;
    height: 40px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-texto {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    font-variant: small-caps;
}

.footer-texto a {
    color: #7ac9e9;
    text-decoration: none;
    cursor:pointer;
}

.footer-texto a:hover {
    color: #0a4d99;
    text-decoration: none;
}